
//light colors
$colorPrimary: #00C8A6;
$colorPrimary-20: #CCF4ED;
$colorPrimary-10: #E5F9F6;
$colorPrimary-Gray: #E8EFEE;
$colorSecondary: #0C3743;
$colorSecondary-90: #134E5E;
$colorSecondary-80: #3D6C79;
$colorSecondary-50: #7B99A1;
$colorSecondary-30: #A7B8BD;
$colorSecondary-10: #BBC7CA;
$colorNeutral-800: #142739;
$colorNeutral-700: #384A5B;
$colorNeutral-600: #6C7985;
$colorNeutral-500: #B5BCC2;
$colorNeutral-300: #E9EBED;
$colorNeutral-200: #F5F5F5;
$colorNeutral-100: #FFFFFF;
$colorBlue: #4C8AEB;
$colorRed: #D82C0D;
$colorRed-2: #ED0000;
$colorWarning: #FA8C16;
$colorWarning-10: #FFF3E8;
$colorBackGround: #F9FBFA;
$colorGrayGradient:linear-gradient(180deg, #F5F5F5 0%, #E9EBED 100%);

$colorBlack: #000000;
$color105: #D9F7F2;
$color106: #E6FAF6;
$color114: #FFF4F4;
$color117: #26D742;
$color118: #58DAC7;
$color119: #E76161;
$color120: #F9AEC5;
$color121: #FFBBBB;
$color122: #FFDCDC;
$color123: #B0EEE3;
$color124: #69BBC2;
$color125: #5EA3B4;