@import 'colors';
@import 'typography';

@mixin flexible {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

@mixin shadow-option1 {box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1)}
@mixin shadow-option2 {box-shadow: 0px 1px 0px rgba(20, 39, 57, 0.1), inset 0px -1px 0px rgba(20, 39, 57, 0.25)}
@mixin shadow-option3 {box-shadow: 0px 1px 10px rgba(20, 39, 57, 0.1)}
@mixin shadow-option4 {box-shadow: 0px 0px 5px rgba(20, 39, 57, 0.1)}
@mixin shadow-option5 {box-shadow: 0px 1px 5px rgba(14, 52, 61, 0.1)}
@mixin shadow-option6 {box-shadow: 2px 0px 5px rgba(14, 52, 61, 0.1)}
@mixin shadow-option7 {box-shadow: 0px -1px 1px rgba(123, 153, 161, 0.1)}
@mixin shadow-option8 {box-shadow: 1px 1px 2px rgba(14, 52, 61, 0.1)}
@mixin shadow-option9 {box-shadow: 0px -1px 3px rgba(14, 52, 61, 0.05)}