@import './variables/_variables.scss';

.fillGhost {
    @include setting_text_b1;
    color: $colorPrimary  !important;
    border-radius: 5px !important;
    border: unset;
    cursor: pointer;
}

.fillWarning {
    font-family: 'FontIranSansMedium';
    color: $colorWarning  !important;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    background-color: $colorWarning-10  !important;
    padding: 5px 10px;

    &:hover {
        background-color: $colorWarning-10;
        color: $colorWarning;
    }
}
.fillExit {
    font-family: 'FontIranSansMedium';
    color: $colorNeutral-100  !important;
    border: none;
    font-size: 10px;
    border-radius: 5px;
    background-color: $colorRed  !important;
    padding: 5px 10px;

    &:hover {
        background-color: $colorRed;
        color: $colorNeutral-100;
    }
}

.outlineWarning {
    font-family: 'FontIranSansMedium';
    color: $colorWarning !important;
    border: 1px solid $colorWarning !important;
    background-color: $colorNeutral-100 !important;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    height: 46px;

    &:hover {
        background-color: $colorNeutral-100 !important;
        border: 1px solid $colorWarning !important;
        color: $colorWarning !important;
    }
}
.outlineSecondary {
    font-family: 'FontIranSansMedium';
    color: $colorSecondary-90 !important;
    border: 1px solid $colorSecondary-90 !important;
    background-color: $colorNeutral-100 !important;
    border-radius: 5px;
    font-size: 10px;
    line-height: 20px;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover {
        background-color: $colorNeutral-100 !important;
        border: 1px solid $colorSecondary-90 !important;
        color: $colorSecondary-90 !important;
    }
}
.outlineNeutral {
    font-family: 'FontIranSansMedium';
    color: $colorNeutral-100 !important;
    border: 1px solid $colorNeutral-100 !important;
    background-color: transparent !important;
    border-radius: 5px;
    font-size: 10px;
    line-height: 20px;
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: transparent !important;
        border: 1px solid $colorNeutral-100 !important;
        color: $colorNeutral-100 !important;
    }
}

.fillPrimary {
    font-family: 'FontIranSansMedium';
    color: $colorNeutral-100 !important;
    border: 1px solid $colorPrimary !important;
    background-color: $colorPrimary !important;
    border-radius: 5px;
    height: 46px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.fillSecondary {
    font-family: 'FontIranSansMedium';
    color: $colorNeutral-100 !important;
    border: 1px solid $colorSecondary !important;
    background-color: $colorSecondary !important;
    border-radius: 5px;
    height: 46px;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    &:hover {
        background-color: $colorSecondary !important;
        border: 1px solid $colorSecondary !important;
        color: $colorNeutral-100 !important;
    }
}

.outlinePrimary {
    color: $colorBlue  !important;
    background-color: transparent !important;
    border-radius: 5px !important;
    border: 2px solid $colorBlue  !important;
    height: 42px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    width: 100%;

    &:hover {
        background-color: $colorBlue  !important;
        color: $color119  !important;
    }
}




.fillPrimary[disabled], .fillSecondary[disabled] {
    background-color: $colorNeutral-200  !important;
    border: none !important;
    color: $colorNeutral-500  !important;
}