@import '../styles/variables/_variables.scss';
 
.customCollapseFaq {
    background-color: $colorNeutral-200;
    width: 100%;
    border-right: 1px solid $colorPrimary;
    border-radius: 5px !important; 
}
.customCollapseFaq .ant-collapse-item-active{
    // border-radius: 5px !important; 
}

.customCollapseFaq .ant-collapse-header {
    padding: 10px 10px !important;
    @include setting_text_b3_medium;
    color: $colorSecondary !important;
    border-bottom: 1px solid $colorNeutral-300 !important;
}

.customCollapseFaq .ant-collapse-content-box {
    padding: 10px !important;
    @include setting_text_c2;
    color: $colorSecondary-90 !important;
}

.customCollapseFaq .ant-collapse-arrow {
    left: 0 !important;
    right: auto !important;
}
