@import 'assets/styles/variables/_variables.scss';

.customModalBottom .ant-drawer-content {
    border-top-right-radius: 20px !important;
    border-top-left-radius: 20px !important;
    max-width: 420px;
    margin: 0 auto;
}

.customModalBottom .ant-drawer-body {
    padding: 10px 10px 0 10px !important;
}

.customModalBottom .pincode-input-container>input:nth-child(4n) {
    margin-right: 18px !important;
}

.customModalBottom .pincode-input-container>input:nth-child(16) {
    margin: 0 !important;
}

.customModalBottom .pincode-input-text {
    margin: 0 !important;
}

.customModalBottom .pincode-input-container {
    // margin-left: 10px !important;
    // margin-top: 35px !important;
}
.customModalBottom .ant-drawer-content-wrapper{
    box-shadow: none !important;
}
// .customModalBottomDateCard .pincode-input-container>input:nth-child(4n){
//     content: '/' !important;
//     // margin-right: 18px !important;

// }
.customModalBottomDateCard .pincode-input-container>input:nth-child(4n) {
    margin-right: 0px !important;
}

.customModalBottomDateCard .pincode-input-container {
    margin-left: 0px !important;
    margin-top: 0 !important;
}

.ant-drawer-title{
    @include setting_text_h7;
    color:$colorSecondary;
}