@import '../styles/variables/_variables.scss';

.customFormItem .ant-form-item-label>label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $colorNeutral-800;
}

.customFormItemAccounts .ant-form-item-control-input{
    min-height: 0;
}