@import 'assets/styles/variables/_variables.scss';


.ant-input-number-handler-wrap {
    display: none !important;
}

.customInput {
    border-radius: 5px !important;
    height: 46px;
    background-color: $colorNeutral-100  !important;
    border-color: $colorNeutral-300  !important;
    color: $colorNeutral-800  !important;
}

.customInput:focus,
.ant-input-focused,
.customInput:focus textarea {
    border-color: $colorNeutral-500  !important;
    box-shadow: none !important;
}

.customInput.ant-input-affix-wrapper-focused .ant-input-prefix svg path {
    fill: $colorNeutral-800  !important;
}

.ant-input-affix-wrapper-focused .customInput {
    box-shadow: none !important;
    border-color: $colorNeutral-500  !important;
}

.customInput .ant-input-disabled {
    @include setting_text_b1;
    border-color: $colorRed  !important;
    background-color: $color121  !important;
}


.customInput:hover,
.customInput:hover textarea {
    border-color: $colorNeutral-500  !important;
    box-shadow: 0 0 0 1px $colorNeutral-500  !important;
}

.ant-form-item-has-error .customInput {
    border: 1px solid $colorSecondary-80  !important;
    box-shadow: 0 0 0 2px $color125  !important;
}

.customInput .ant-input-clear-icon {
    background-image: url('../images/clear.svg');
    background-repeat: no-repeat;
    font-size: 20px;
    color: $colorNeutral-800  !important;
    margin-top: 10px;
}

.customInput .ant-input-clear-icon svg path {
    fill: transparent;
}

.customInput:hover .ant-input-clear-icon {
    color: $colorNeutral-800  !important;
}

.customInput>input::placeholder {
    color: $colorNeutral-300  !important;
    font-size: 12px;
}

.customInput .ant-input {
    background-color: transparent !important;
    color: var(--Gray-D-2) !important;
    border-color: var(--color106) !important;
}

.customInput .ant-input:-webkit-autofill {
    background-color: transparent !important;
}

.customInput .ant-input:autofill {
    background-color: transparent !important;
}

.borderRadiusRight {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.customInput.ant-input-textarea-show-count::after {
    color: $colorNeutral-500  !important;
    margin-top: 5px;
}

.customInput,
.customInput input {
    direction: ltr !important;
    padding: 0 10px !important;
}

.customInput .ant-input-suffix {
    direction: rtl !important;
}

.customInput .ant-input-password-icon.anticon {
    background-image: url('../images/eyeVisible.svg');
    // fill: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.customInput .anticon .anticon-eye-invisible .ant-input-password-icon svg path {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../images/eyeinvisible.svg');
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.customInput .ant-input-group-rtl.ant-input-group .ant-input-affix-wrapper:not(:first-child) {
    background-color: transparent;
    direction: ltr;
    margin: 0;
    height: 44px;
    padding: 0;
    border: none;
}

.customInput .ant-input-group-rtl .ant-input-group-addon:first-child {
    border: none
}

.customInput .ant-input-group-addon {
    color: $colorNeutral-100  !important;
    border: none;
    background-color: transparent;
}

.customInput2 {
    background-color: $colorNeutral-300  !important;
    border: 1px solid $colorNeutral-500  !important;
}

.customInput2>input::placeholder {
    color: $colorSecondary  !important;
    font-size: 12px;
}

.customInput2 .ant-input-prefix svg path {
    fill: $colorSecondary  !important;
}

.customInput3 {
    background-color: $colorNeutral-200  !important;
    border: 1px solid $colorSecondary-80  !important;
}
.customInput3Active {
    background-color: $colorNeutral-200  !important;
    border: 1px solid $colorPrimary  !important;
}

.customInput3 .ant-input-disabled {
    @include setting_text_b1;
    color: $colorNeutral-600 !important;
}
.customInput3Active .ant-input-disabled {
    @include setting_text_b1;
    color: $colorPrimary !important;
}
.customInput3 .ant-input-group-addon {
    color: $colorNeutral-600  !important;
    border: none;
    background-color: transparent;
}
.customInput3Active .ant-input-group-addon {
    color: $colorNeutral-600  !important;
    border: none;
    background-color: transparent;
}