@import 'assets/styles/variables/_variables.scss';

.customSteps .ant-steps {
    color: $colorNeutral-100;
}

.customSteps .ant-steps-item-content {
    color: aqua !important;
}

.customSteps .ant-steps-item-title {
    color: $colorNeutral-100  !important;
    font-size: 12px;
    line-height: 20px;
}
.customSteps .ant-steps-item .ant-steps-item-process .ant-steps-item-active .ant-steps-item-title{
    font-size: 12px;
    color: red  !important;

}
.customSteps .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after{
background-color: $colorNeutral-100;
}
.customSteps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
    background-color: $colorNeutral-100;

}
.customSteps .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
    background-color: transparent;
    border:1px solid #3D6C79
}
.customSteps .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after{
    background-color:#3D6C79
    
}
.customSteps .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot{
    background-color: transparent;
    border:1px solid #3D6C79

}