@import 'assets/styles/variables/_variables.scss';

.customTabs .ant-tabs-nav-wrap {
    background: $colorNeutral-100;
    box-shadow: 0px 1px 10px rgba(20, 39, 57, 0.1);
    border-radius: 15px;
    height: 65px;
    margin: -70px 0 0 0 !important;
}

.customTabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    @include setting_text_b1;
    color: $colorSecondary  !important;

}

.customTabs .ant-tabs-tab.ant-tabs-tab-active #rc-tabs-0-tab-1 {
    // border-bottom: 2px solid $colorPrimary  !important;
}

.customTabs .ant-tabs-tab.ant-tabs-tab-active #rc-tabs-0-tab-2 {
    // border-bottom: 2px solid $colorWarning  !important;
}

.customTabs .ant-tabs-tab .ant-tabs-tab-btn {
    @include setting_text_b2;
    color: $colorSecondary-80  !important;
}

.customTabs .ant-tabs-tab-active #rc-tabs-0-tab-1 .ant-tabs-ink-bar{
    background:  $colorPrimary  !important;

    // min-width: 60px;
    bottom: 10px !important;
}

.customTabs .ant-tabs-tab-active #rc-tabs-0-tab-1 .ant-tabs-ink-bar{
    background:  $colorPrimary  !important;
}
.customTabs .ant-tabs-tab-active #rc-tabs-0-tab-21 .ant-tabs-ink-bar{
    background:  $colorWarning  !important;
}