.customUpload .ant-upload.ant-upload-select{
    display: flex;
    align-items: end;
    justify-content: end;
}
.customUpload{
    max-width: 100px;
}
.customUpload .ant-upload-list-item-error{
    display: none;
}